<div class="sirc-modale-titre-container" [ngSwitch]="createMode">
  <h3 *ngSwitchCase="true">Ajouter une signature</h3>
  <h3 *ngSwitchCase="false">Modifier une signature</h3>
</div>

<form [formGroup]="modeleForm" (ngSubmit)="save()">
<div class="sirc-modale-content-container">
  <div class="row">
    <div class="sirc-fc-fill">
      <label class="sirc-label">Nom</label>
      <input class="sirc-field" type="text" formControlName="nom" [ngClass]="{'error' : hasError(nom)}" >
      <div class="sirc-errors-container" [ngClass]="{'hidden' : !hasError(nom)}">
        <label class="sirc-info error" *ngIf="!!(nom?.errors?.required)">Ce champ est obligatoire</label>
        <label class="sirc-info error" *ngIf="!!(nom?.errors?.maxlength)">Taille maximale : 250 caractères</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="sirc-fc-lg">
      <label class="sirc-label">Image</label>
      <input type="file" (change)="fileChangeEvent($event)"/>
      <div class="sirc-errors-container">
        <label class="sirc-info">Vous pouvez sélectionner une image depuis votre poste.</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="sirc-fc-md">
      <label class="sirc-label">Image originale</label>
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [imageBase64]="initImage" 
        [aspectRatio]="16/9" [maintainAspectRatio]="true" [resizeToWidth]="256" format="png"
        (imageCropped)="imageCropped($event)" (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>
    <div class="sirc-fc-md">
      <label class="sirc-label" [ngClass]="{'error' : hasError(contenu)}">Image modifiée</label>
      <img [src]="croppedImage" />
      <div class="sirc-errors-container" [ngClass]="{'error' : hasError(contenu)}">
        <label class="sirc-info error" *ngIf="hasError(contenu) && !!(contenu?.errors?.required)">Ce champ est obligatoire</label>
      </div>
    </div> 
  </div>
</div>

<div class="sirc-modale-boutons-container">
  <button *ngIf="!submitting" type="button" class="btn-sirc-o btn-small col-12 col-sm-5"
    (click)="close()">Annuler</button>
  <button *ngIf="!submitting" type="submit" class="btn-sirc-success btn-small col-12 col-sm-5"
    cdkFocusInitial>Enregistrer</button>
  <mat-progress-bar mode="indeterminate" *ngIf="submitting"></mat-progress-bar>
</div>
</form>