<div class="sirc-modale-titre-container">
  <h3>Ouvrir une demande avec son numéro</h3>
</div>

<form [formGroup]="modeleForm" (ngSubmit)="recuperer()">
<div class="sirc-modale-content-container">
  <div class="row">
    <div class="sirc-fc-lg">
      <div class="d-flex align-items-top">
        <label class="sirc-label">Numéro de la demande</label>
        <i class="ml-1 material-icons is-btn-small primary" 
          matTooltip="Le numéro de demande doit respecter le format suivant : [Année sur 4 chiffres][Mois sur 2 chiffres][Compteur allant de 000000 à 999999][la lettre P, A ou I]"
        >help</i>
      </div>
      <input class="sirc-field" type="text" formControlName="numero"
        [ngClass]="{'error' : hasError(numero)}" placeholder="Ex: 201901000012P">
      <div class="sirc-errors-container" [ngClass]="{'hidden' : !hasError(numero)}">
        <label class="sirc-info error" *ngIf="!!(numero?.errors?.required)">Ce champ est obligatoire</label>
        <label class="sirc-info error" *ngIf="!!(numero?.errors?.isNumeroDemandePublic)">Votre saisie ne respecte pas le format des numéros de demande</label>
        <label class="sirc-info error" *ngIf="!!(numero?.errors?.maxlength)">Taille maximale : 13 caractères</label>
      </div>
    </div>
  </div>
</div>

<div class="sirc-modale-boutons-container">
  <button *ngIf="!submitting" type="button" class="btn-sirc-o btn-small col-12 col-sm-5"
    (click)="close()">Sortir</button>
  <button *ngIf="!submitting" type="submit" class="btn-sirc btn-small col-12 col-sm-5"
    cdkFocusInitial>Ouvrir</button>
  <mat-progress-bar mode="indeterminate" *ngIf="submitting"></mat-progress-bar>
</div>
</form>